

<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input name="email" formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input name="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  
    <button mat-raised-button type="submit">Se connecter</button>
    <button mat-raised-button type="button">S'inscrire</button>
  </form>
</div>